body {
    background-image: url('login-bg.png');
    background-size: cover;
  }
form{
    color:#fff
  }
  h1{
    color:#fff
  }

  .login-container {
    max-width: 340px;
    margin-left: 50px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgba(7, 141, 237, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: formAnimation 1.25s ease-in-out forwards;
  }

  .login-container label {
    display: block;
    margin-bottom: 10px;
  }

  .login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
  }

  .login-container button {
    background-color: #0077cc;
    width: 87px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
    font-size: large;
    margin-bottom: 17px;
  }

  .error-message {
    color: #ff0000;
    font-size: medium;
    margin-top: 10px;
  }

  @keyframes formAnimation {
    0% {
      transform: translateX(-100%) scale(0.1);
    }
    100% {
      transform: translateX(0) scale(1);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in-element {
    opacity: 0;
    margin-left: 50px;
     /* Adjust the animation properties as needed */
  }

p {
  margin-left: 30px; 
  margin-top: 80px;
  font-size: 5em;
  border-bottom: 5px solid #34316a;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  color: #435b87;;
  animation: fadeIn 2s ease-in-out forwards;
}